
<mat-toolbar class = "header">
    <span> 
        <a>
            <img class = "logo" src="assets/img/not.png" alt="logo">
        </a>
    </span>

    <nav id = "menu">
        <ul>
            <li><a href="#"> Quem Somos? </a></li>
            <li><a href="#"> Coders </a></li>
            <li><a href="#"> Contatos </a></li>
        </ul>
    </nav>

</mat-toolbar>

<header class = "banner">

    <span>
        <a>
            <img id = "banner" src = "assets/img/back.png" alt = "banner">
        </a>
    </span>

</header>