<body>

    <h1> Nossas Coders </h1>

    <span>

        <nav id = "foto1">
            <img class = "foto1" src = "assets/img/foto1.jpg" alt = "foto">
            <img class = "foto2" src = "assets/img/foto1.jpg" alt = "foto">
            <img class = "foto3" src = "assets/img/foto1.jpg" alt = "foto">
        </nav>

        <nav id = "foto2">
            <img class = "foto4" src = "assets/img/foto1.jpg" alt = "foto">
            <img class = "foto5" src = "assets/img/foto1.jpg" alt = "foto">
            <img class = "foto6" src = "assets/img/foto1.jpg" alt = "foto">
        </nav>
    </span>

</body>
